<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>

  <p>
  <form class="form comment">
    <div class="form-group">
      <label for="comment">comment:</label>
      <input class="form-input" type="text" id="comment-input" />
    </div>
      <button class="btn btn-primary">Submit Comment</button>

  </form>

  </p>
</div>